@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-black: #0f0f11;
    --color-white: #d9d8d0;
    --color-blue: #6f73d9;
    --color-green: #3f8c70;
}

body {
    margin: 0;

    font-family: "Inter", sans-serif;

    color: var(--color-white);
    background-color: var(--color-black);
}

@supports (font-variation-settings: normal) {
    body {
        font-family: "Inter var", sans-serif;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    line-height: 1.3;
}

h1.sectionHeader {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

h1.sectionHeader .splitChar {
    transform: translateY(5rem);
}

@media (min-width: 768px) {
    h1 {
        font-size: 6rem;
    }
    h1.sectionHeader .splitChar {
        transform: translateY(7rem);
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 7rem;
    }
    h1.sectionHeader .splitChar {
        transform: translateY(8rem);
    }
}

.fullscreen-without-header {
    min-height: calc(100vh - 5rem);
}

header .mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;

    padding: 0rem 1.25rem 4rem;
    overflow: auto;
    z-index: 100;

    background-color: var(--color-white);
    color: var(--color-black);
}

.clickableLink-1 a:hover {
    color: var(--color-blue);
    text-decoration-line: underline;
    text-underline-offset: 1rem;
}

.clickableLink-2 a:hover {
    color: var(--color-blue);
    text-decoration-line: underline;
    text-underline-offset: 1.5rem;
}

p.bigger-thin {
    font-size: 2rem;
    font-weight: 200;
}

@media (min-width: 768px) {
    p.bigger-thin {
        font-size: 2.8rem;
    }
}
