@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-black: #0f0f11;
    --color-white: #d9d8d0;
    --color-blue: #6f73d9;
    --color-green: #3f8c70;
}

body {
    margin: 0;

    font-family: "Inter", sans-serif;

    color: var(--color-white);
    background-color: var(--color-black);
}

@supports (font-variation-settings: normal) {
    body {
        font-family: "Inter var", sans-serif;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 3rem;
    line-height: 1.3;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
        line-height: 1.3;
    }
}

.fullscreen-without-header {
    min-height: calc(100vh - 5rem);
}

header .mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0rem 1.25rem 4rem;
    overflow: auto;
    z-index: 100;

    background-color: var(--color-white);
    color: var(--color-black);
}

header nav a:hover {
    color: var(--color-blue);
    text-decoration-line: underline;
    text-underline-offset: 1rem;
}

p.bigger-thin {
    font-size: 2rem;
    font-weight: 200;
}

@media (min-width: 768px) {
    p.bigger-thin {
        font-size: 2.8rem;
        font-weight: 200;
    }
}
